@tailwind base;
@tailwind components;
@tailwind utilities;

.side-active {
    background-color: lightsteelblue;
    font-weight: bold;
    border-right: 5px solid #2467ae;
}
.box-shadow-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 90px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #CFCFCF;
}
.shadow-sidebar{
    box-shadow: 15px 0px 15px -20px rgba(0,0,0,0.75);
}
.parent-text .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 10px;
}
.parent-text  .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: none;
}
.autoComplete .css-17vbkzs-MuiFormControl-root-MuiTextField-root{
    margin: 0;
}