@tailwind base;
@tailwind components;
@tailwind utilities;

.side-active {
    background-color: lightsteelblue;
    font-weight: bold;
    border-right: 5px solid #2467ae;
}
.box-shadow-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}