@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'nprogress.css';

.side-active {
    background-color: lightsteelblue;
    font-weight: bold;
    border-right: 5px solid #2467ae;
}
.box-shadow-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 90px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #CFCFCF;
}
.shadow-sidebar{
    box-shadow: 15px 0px 15px -20px rgba(0,0,0,0.75);
}
.sidebar-shadow{
    box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.15);
}

/* .parent-text  .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: none;
} */
.autoComplete .css-17vbkzs-MuiFormControl-root-MuiTextField-root{
    margin: 0;
}
.css-6ffsbr-MuiAutocomplete-root {
    width: 100%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
}

.text-field .css-ahj2mt-MuiTypography-root{
    width: 100%;

}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-primary {
    background-color: #1677ff;
}